.navbar{height: 3.8rem;}
.navbar-brand img{height:100%;margin-top:-5px !important;margin-left: 2px;}
a.nav-link{font-size: .875rem;}
#appbar a.nav-link{color: #424242;font-weight: 400;}
#appbar a div{font-size: .800rem;margin-top:0}
#appbar .active > .nav-link,
#appbar .nav-link.active {color: #5F4B8B;}